<footer>
    <div class="flex-row">
        <div class="flex-column">
            <h2>Kyle Zimmerman</h2>
            {{ site.description | markdownify | newline_to_br}}
        </div>
        <div class="flex-column">
            <h2>Contact Info</h3>
            <ul class="contact-list">
                <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                {% if site.github_username %}
                    <li>
                        {% include icon-github.html username=site.github_username %}
                    </li>
                {% endif %}

                {% if site.twitter_username %}
                    <li>
                        {% include icon-twitter.html username=site.twitter_username %}
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="flex-column">
            <h3>Me Around the Web</h3>
            <ul>
                <li><a href="">GitHub</a></li>
                <li><a href="">StackOverflow</a></li>
                <li><a href="">LinkedIn</a></li>
                <li><a href="">Twitter</a></li>
            </ul>
        </div>
    </div>

    <p class="centered-text"><small>© Kyle Zimmerman 2016</small></p>
</footer>
